.body-forgotPassword{
    background-image: linear-gradient(rgba(175, 37, 63,0.100),rgba(207, 155, 165,0.85)), url("../img/japan.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.forgotPassword-title{
    width: auto;
    height: 100%;
    /* background-color: rgb(238, 238, 238);  */
}

.forgotPassword-title h2{
    color: rgb(176, 0, 32);
    text-align: center;
    font-size: 70px;
}

.forgotPassword-title table{
     margin-top: 30%;
    /* margin-left: 10%;  */
    /* border: solid black 2px; */
    height: 80px;
    width: 400px;
}

.forgotPassword-title form{
    /* border: solid black 2px; */
    justify-items: center;
    margin-top: 30%;
    margin: 50px;
    margin-left: 30%;
}

.forgotPassword-title .input{
    padding-left: 12px;
    border-radius: 20px;
    border: none;
    border: solid 1px rgb(196, 81, 102);
}

.forgotPassword-title img{
    height: 400px;
    width: 420px;
    margin-right: 30%;
    float: right;
}

.forgotPassword-title .container{
    margin-top: 120px;
}

.forgotPassword-title button{
    width: 307px;
    border-radius: 20px;
    background-color: rgb(167, 48, 69);
    border: none;
    color: white;
}

.forgotPassword-title button:hover{
    transform: scale(1.1);
}