*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    background-image: linear-gradient(rgba(175, 37, 63,0.100),rgba(207, 155, 165,0.85)), url("../img/japan_street.jpg");
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}

body h2{
    color: #000000;
}

.otp-bx{
    display: flex;
}

.otp-bx input{
    width: 50px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 3px solid #000000;
    color: rgb(255, 232, 232);
    background: transparent;
    font-weight: bold;
    outline: none;
    transition: all 0.1s;
}

.otp-bx input:focus{
    border: 2px solid #B00020;
    box-shadow: 0 0 2px 2px #C45166;
}

.space{
    margin-right: 1rem !important;
}

.disabled{
    opacity: 0.5;
}