*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
  .contain{
    display:  flex;
    flex-flow: column;
    height: 100%;
    align-items: space-around;
    justify-content: center;
  }
  
  .userInput{
    display: flex;
    justify-content: center;
  }
  
  .userInput input{
    width: 50px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 3px solid #000000;
    color: rgb(255, 232, 232);
    background: transparent;
    font-weight: bold;
    outline: none;
    transition: all 0.1s;
}
  .otp h1{
    justify-content: center;
    color: aliceblue    ;
   

  }
  .space {
    margin-right: 1.4rem ! important;
  } 
  .otp button{
    justify-content: center;
    background-color: #B00020;
    width: 200px;
    height: 30px;
    border-radius: 20px;
  }